@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;600;800&family=Caprasimo&family=Gloock&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(1, 22, 30);
  color: #fff;
}

html {
  font-size: 16px;
  font-family: "Albert Sans", sans-serif;
  scroll-behavior: smooth;
}

button,
ion-icon {
  cursor: pointer;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.nav {
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
}
.nav .menu {
  justify-self: flex-start;
  width: 45%;
  display: flex;
  align-items: center;
  gap: 1.3rem;
}
.nav .menu li {
  list-style: none;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 600;
  opacity: 0.8;
}
.nav .menu li:hover {
  transition: color 0.2s ease;
  color: rgb(56, 179, 56);
}
.nav .rest {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
}
.nav .rest .logo {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}
.nav .rest .logo img {
  height: 2rem;
  width: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.nav .rest .social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.nav .rest .social li {
  list-style: none;
}
.nav .rest .social li:hover {
  transition: color 0.2s ease;
  color: rgb(56, 179, 56);
}
.nav .rest .email {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
}
.nav .rest .email span {
  font-size: 0.95rem;
  font-weight: 600;
  opacity: 0.8;
}
.nav .rest .email span:hover {
  transition: color 0.2s ease;
  color: rgb(56, 179, 56);
}
.nav .rest .email ion-icon {
  font-size: 1rem;
  color: rgb(56, 179, 56);
}
.nav .rest .dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  cursor: pointer;
}
.nav .rest .dots li {
  list-style: none;
  font-size: 1.4rem;
  font-weight: 600;
}
.nav .rest .dots:hover {
  color: rgb(56, 179, 56);
  transition: all 0.2s ease;
}

.home {
  padding-block: 1.5rem;
}
.home #span {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  white-space: nowrap;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 1rem;
  opacity: 0.7;
}
.home .content {
  margin-inline-end: 3rem;
}
.home .content .top {
  display: flex;
  align-items: center;
}
.home .content .top .left {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.home .content .top .left h4 {
  font-size: 3.5rem;
}
.home .content .top .left button {
  margin-block: 1rem;
  padding: 0.4rem 1rem;
  border: 1.5px solid rgb(56, 179, 56);
  background: none;
  color: #fff;
}
.home .content .top .left button ion-icon {
  transform: rotate(315deg);
}
.home .content .top .left button:hover {
  transition: all 0.2s ease;
  color: rgb(122, 229, 130);
}
.home .content .top .right {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
.home .content .top .right .about_image {
  align-self: flex-end;
}
.home .content .top .right .about_image img {
  width: 4rem;
  height: 10rem;
  border-radius: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .content .top .right .sticker {
  display: flex;
  justify-content: space-between;
}
.home .content .top .right .sticker .ring {
  align-self: flex-start;
  width: 12rem;
  height: 12rem;
  border: 2rem solid rgb(1, 22, 30);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(122, 229, 130);
}
.home .content .top .right .sticker .ring span {
  color: rgb(1, 22, 30);
  font-size: 0.9rem;
  font-weight: 600;
  transform: rotate(90deg);
}
.home .content .top .right .sticker ion-icon {
  align-self: flex-end;
  font-size: 8rem;
  color: rgb(122, 229, 130);
  transform: rotate(40deg);
  opacity: 0.8;
  border-radius: 7px 7px 0 7px;
}
.home .content #hero__image {
  width: 95%;
  max-height: 60dvh;
  -o-object-fit: cover;
     object-fit: cover;
  margin-inline: 3.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.home .content .sponsors {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.home .content .sponsors img {
  width: 4rem;
  height: 4rem;
}
.home .content .sponsors img:hover {
  color: rgb(56, 179, 56);
  transition: color 0.2s ease;
}

.icon {
  width: 12rem;
  height: 18rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border: none;
}
.icon:hover {
  border: 1px solid rgb(56, 179, 56);
  transition: border 0.2s ease-in;
  transform: scale(1.01);
}
.icon img {
  height: 4rem;
  width: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.icon .button {
  width: 10rem;
  height: 2.4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: rgb(1, 1, 34);
  cursor: pointer;
}
.icon .button:hover {
  background: rgb(56, 179, 56);
  transition: background 0.2s ease;
}
.icon p {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  opacity: 0.6;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.what_we_do {
  padding: 3.5rem 5rem 0 5rem;
  margin-block: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  height: 90dvh;
}
.what_we_do .left {
  align-self: flex-start;
  width: 40vw;
}
.what_we_do .left .title {
  display: inline-flex;
  align-items: center;
  width: 100%;
  gap: 0.3rem;
  margin-block-end: 1rem;
}
.what_we_do .left .title img {
  width: 1.4rem;
  height: 1.4rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.what_we_do .left .title h3 {
  font-weight: 600;
  font-size: 0.9rem;
  opacity: 0.7;
}
.what_we_do .left h2 {
  font-size: 2.5rem;
  margin-block-end: 7rem;
  font-family: "Gloock", serif;
}
.what_we_do .left .bott {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}
.what_we_do .left .bott button {
  border: none;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-weight: 600;
  opacity: 0.7;
  background: none;
  color: #fff;
  align-self: flex-start;
}
.what_we_do .left .bott button ion-icon {
  transform: rotate(315deg);
}
.what_we_do .left .bott button:hover {
  color: rgb(122, 229, 130);
  transition: color 0.2s ease;
}
.what_we_do .left .bott #circle {
  align-self: flex-end;
  z-index: 99;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin-inline-end: -4rem;
}
.what_we_do .middle {
  align-self: flex-end;
}
.what_we_do .middle img {
  max-height: 60dvh;
  width: 30dvw;
  -o-object-fit: cover;
     object-fit: cover;
}
.what_we_do .right {
  width: 50vw;
  align-self: flex-end;
}
.what_we_do .right p {
  width: 60%;
  font-weight: 600;
  font-size: 0.9rem;
  padding-block-end: 1.4rem;
  opacity: 0.7;
}
.what_we_do .right .buttons {
  padding-block-start: 1.4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.bttn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 2rem;
}
.bttn button {
  padding: 0.8rem 1.8rem;
  border: none;
  background: rgb(1, 1, 34);
  border-radius: 15px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
}
.bttn button span {
  color: rgb(122, 229, 130);
}
.bttn button:hover {
  background: rgb(122, 229, 130);
  transition: all 0.2s ease;
  color: rgb(1, 22, 30);
}
.bttn button:hover span {
  color: rgb(1, 22, 30);
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  background-color: rgb(1, 1, 34);
  border-radius: 5px;
  color: #fff;
}
.btn:hover {
  background: rgb(122, 229, 130);
  transition: all 0.2s ease;
  color: rgb(1, 22, 30);
}

.service {
  padding: 3.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.service .left {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;
}
.service .left .title {
  display: inline-flex;
  align-items: center;
  width: 100%;
  gap: 0.3rem;
}
.service .left .title img {
  width: 1.4rem;
  height: 1.4rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.service .left .title h3 {
  font-weight: 600;
  font-size: 0.9rem;
  opacity: 0.7;
}
.service .left h3 {
  padding-block: 0.5rem;
}
.service .left p {
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0.6;
}
.service .left .icon_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.service .right {
  width: 30%;
  position: relative;
}
.service .right #large {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.service .right #logo {
  width: 7rem;
  height: 7rem;
  position: absolute;
  right: -2rem;
  top: 3.5rem;
  padding: 1rem;
  border-radius: 50%;
  background: rgb(1, 22, 30);
}

.iconn {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.7rem;
}
.iconn img {
  width: 3rem;
  height: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.iconn .cont h4 {
  font-size: 0.9rem;
  padding-block-end: 0.8rem;
}
.iconn .cont p {
  opacity: 0.6;
  font-size: 0.8rem;
  font-weight: 600;
}
.iconn h6 {
  margin-inline-start: 0.6rem;
  font-size: 1rem;
  border-radius: 50%;
  background: rgb(1, 1, 34);
  color: #fff;
  padding: 0.3rem;
}
.iconn:hover h6 {
  color: rgb(1, 22, 30);
  background: rgb(122, 229, 130);
  transition: all 0.3s ease;
}

.pricing {
  width: 100%;
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pricing .title {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  margin-block-end: 1rem;
}
.pricing .title img {
  width: 1.4rem;
  height: 1.4rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.pricing .title h4 {
  font-weight: 600;
  font-size: 0.9rem;
  opacity: 0.7;
}
.pricing h3 {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  font-family: "Gloock", serif;
  font-size: 2rem;
  padding-block-end: 1.5rem;
}
.pricing h3 span {
  font-size: 1.5rem;
}
.pricing .pricing_cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.pricing .svg {
  width: 100%;
  margin-block-start: 1.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-inline-end: 8rem;
}
.pricing .svg ion-icon {
  font-size: 7rem;
  transform: rotate(45deg);
  color: rgb(122, 229, 130);
  border-radius: 10px;
}

.pricing_card {
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  width: 17%;
  height: 27rem;
  border: none;
  display: flex;
  flex-direction: column;
  background: rgb(3, 32, 44);
}
.pricing_card:hover {
  transform: scale(1.02);
  border: 1px solid rgb(122, 229, 130);
  transition: all 0.3s ease;
}
.pricing_card .price {
  display: flex;
  flex-direction: column;
}
.pricing_card .price h4 {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.pricing_card .price h4 span {
  font-size: 0.7rem;
  font-weight: 600;
  color: rgb(122, 229, 130);
}
.pricing_card .price h5 {
  padding-block-start: 0.4rem;
  opacity: 0.8;
}
.pricing_card .dash {
  width: 100%;
  height: 0.1rem;
  background-color: rgb(122, 229, 130);
  margin-block: 1rem;
}
.pricing_card ul {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.pricing_card ul li {
  font-size: 0.75rem;
  font-weight: 600;
  list-style: none;
  opacity: 0.7;
}
.pricing_card ul li ion-icon {
  color: rgb(122, 229, 130);
  padding-inline-end: 0.4rem;
}
.pricing_card .button {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-block: 0.8rem;
  height: 100%;
}
.pricing_card .button button {
  font-size: 0.8rem;
  font-weight: 600;
  border: none;
  background: none;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #fff;
}
.pricing_card .button button ion-icon {
  transform: rotate(135deg);
}
.pricing_card .button button:hover {
  transition: all 0.3s ease;
  background: rgb(122, 229, 130);
  color: rgb(1, 22, 30);
}

.team {
  padding-inline: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 18rem;
}
.team .cont {
  display: flex;
  flex-direction: column;
  width: 15%;
}
.team .cont .title {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  margin-block-end: 1rem;
}
.team .cont .title img {
  width: 1.4rem;
  height: 1.4rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.team .cont .title h4 {
  font-weight: 600;
  font-size: 0.9rem;
  opacity: 0.7;
}
.team .cont h3 {
  padding-block-end: 1rem;
  font-size: 1.3rem;
}
.team .cont p {
  opacity: 0.7;
  font-weight: 600;
  font-size: 0.8rem;
}
.team .cont .nav-btn {
  padding-block: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
.team .cont .nav-btn ion-icon {
  font-size: 1.5rem;
  color: #fff;
}
.team .cont .nav-btn ion-icon:hover {
  color: rgb(122, 229, 130);
  transition: all 0.3s ease;
}

.member {
  width: 20%;
  border: 1px solid rebeccapurple;
  height: 100%;
  position: relative;
}
.member img {
  width: 100%;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.member h4 {
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 600;
}
.member .popup {
  display: none;
}
.member:hover .popuup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline-start: 1rem;
  z-index: 99;
  position: absolute;
  top: 0;
  width: 100%;
  height: 16rem;
  transform: scaleY(100);
  transition: all 0.3s ease;
}
.member:hover .popuup .role {
  padding: 0.6rem 1rem;
  background: rgb(122, 229, 130);
  color: rgb(1, 22, 30);
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 10px;
}
.member:hover .popuup .socials {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.6rem;
  align-items: flex-end;
}
.member:hover .popuup .socials img {
  width: 2.5rem;
  height: 2.5rem;
}

.star {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
}
.star .left {
  display: flex;
  width: 30%;
  flex-direction: column;
  margin-inline-start: 5rem;
  justify-content: space-between;
  padding-block-end: 1.5rem;
}
.star .left ion-icon {
  color: rgb(122, 229, 130);
}
.star .left :nth-child(1) {
  margin-block-start: -5rem;
  font-size: 7rem;
  z-index: -99;
  align-self: flex-start;
}
.star .left :nth-child(2) {
  align-self: flex-end;
  font-size: 2.5rem;
}
.star .right {
  width: 40%;
  padding-inline-end: 3rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.star .right ion-icon {
  font-size: 2.5rem;
  color: rgb(122, 229, 130);
}/*# sourceMappingURL=app.css.map */