
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;600;800&family=Caprasimo&family=Gloock&display=swap');


$ffhead: 'Caprasimo', cursive;
$ffsec: 'Gloock', serif;

$colorgreen: rgb(122, 229, 130);
$colorprimary: rgb(1, 22, 30);
// $coloralt: 000814;
// $colorother: 001d3d;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $colorprimary;
    color: #fff;
}
html{font-size: 16px; font-family: 'Albert Sans', sans-serif; }
button, 
ion-icon{cursor: pointer;}

.nav{
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
    .menu{
        justify-self: flex-start;
        width: 45%;
        display: flex;
        align-items: center;
        gap: 1.3rem;
        li{
            list-style: none;
            font-size: .9rem;
            cursor: pointer;
            font-weight: 600;
            opacity: .8;
            &:hover{
                transition: color .2s ease;
                color: rgb(56, 179, 56);
            }
        }
    }
    .rest{
        display: flex;
        align-items: center;
        justify-content: space-between;
        // border: 1px solid red;
        width: 55%;
        .logo{
            img{
                height: 2rem;
                width: 2rem;
                object-fit: contain;
            }
            display: inline-flex;
            align-items: center;
            gap: .3rem;
            cursor: pointer;
            
        }
        .social{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .8rem;
            li{
                list-style: none;
                &:hover{
                    transition: color .2s ease;
                    color: rgb(56, 179, 56);
                }
            }
        }
        .email{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            span{
                font-size: .95rem;
                font-weight: 600;
                opacity: .8;
                &:hover{
                    transition: color .2s ease;
                    color: rgb(56, 179, 56);
                }
            }
            cursor: pointer;
            ion-icon{
                font-size: 1rem;
                color: rgb(56, 179, 56);
            }
            
        }
        .dots{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: .2rem;
          cursor: pointer;
          li{
            list-style: none;
            font-size: 1.4rem;
            font-weight: 600;

          }  
          &:hover{
            color: rgb(56, 179, 56);
            transition: all .2s ease;
          }
        }
    }
}

// hero

.home{
    padding-block: 1.5rem;
    #span{
        writing-mode: vertical-rl;
        text-orientation:sideways;
        white-space: nowrap;
        font-weight: 600;
        font-size: .8rem;
        padding: 1rem;
        opacity: .7;
    }
    .content{
        margin-inline-end: 3rem;
        .top{
            display: flex;
            align-items: center;
            .left{
                width: 50%;
                // border: 1px solid red;
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: center;
                h4{
                    font-size: 3.5rem;

                }
                button{
                    margin-block: 1rem;
                    padding: .4rem 1rem;
                    border: 1.5px solid rgb(56, 179, 56);
                    background: none;
                    color: #fff;
                    // to  be fixed
                    ion-icon{
                        // font-size: 1.2rem;
                        transform: rotate(315deg);
                    }
                    
                    &:hover{
                        transition: all .2s ease;
                        color: $colorgreen;
                        // padding: .5rem 1.1rem;
                    }
                }
            }
            .right{
                width: 50%;
                display: flex;
                justify-content: space-evenly;
                .about_image{
                    align-self: flex-end;
                    img{
                        width: 4rem;
                        height: 10rem;
                        border-radius: 3rem;
                        object-fit: cover;
                    }
                }
                .sticker{
                    display: flex;
                    justify-content: space-between;
                    // border: 1px solid red;

                    .ring{
                        align-self: flex-start;
                        width: 12rem;
                        height: 12rem;
                        border: 2rem solid $colorprimary;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;background-color: $colorgreen;
                        span{
                            color: $colorprimary;
                            font-size: .9rem;
                            font-weight: 600;
                            transform: rotate(90deg);
                        }
                    }
                    ion-icon{
                        align-self: flex-end;
                        font-size: 8rem;
                        color: $colorgreen;
                        transform: rotate(40deg);
                        opacity: .8;
                    }
                }
            }
        }
        #hero__image{
            width: 95%;
            max-height: 60dvh;
            object-fit: cover;
            margin-inline: 3.5rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
        .sponsors{
            padding: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2.5rem;
            // flex-wrap: wrap;
            img{
                width: 4rem;
                height: 4rem;
                &:hover{
                    color: rgb(56, 179, 56);
                    transition: color .2s ease;
                }
            }
            
        }
    }
}


// icons
.icon{
    width: 12rem;
    height: 18rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    &:hover{
        border: 1px solid rgb(56, 179, 56);
        transition: border .2s ease-in;
    }
    img{
        height: 4rem;
        width: 4rem;
        object-fit: cover;
    }
    .button{
        width: 10rem;
        height: 2.4rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: none;
        border-radius: 5px;
        background: rgb(1, 1, 34);
        &:hover{
            background: rgb(56, 179, 56);
            transition: background .2s ease;
        }
    }
    p{
        font-size: .9rem;
        font-weight: 600;
        text-align: center;
    }
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    // flex-wrap: wrap;
    gap: 2rem;
    // padding-block: 1.5rem;
}

// about us 

.what_we_do{
    padding: 3.5rem 3rem 0 3rem;
    margin-block: 1.5rem;
    display: flex;
    // width: 100%;
    justify-content: center;
    // flex-wrap: wrap;
    gap: 3rem;
    height: 90dvh;
    .left{
        align-self: flex-start;
        width: 40vw;
        // border: 1px solid red;
        .title{
            display: inline-flex;
            align-items: center;
            // justify-content: ;
            width: 100%;
            gap: .3rem;
            margin-block-end: 1rem;
            // border: 1px solid white;
            img{
                width: 1.4rem;
                height: 1.4rem;
                object-fit: contain;
            }
            h3{
                font-weight: 600;
                font-size: .9rem;
                opacity: .7;
                // margin-inline-start: 2rem;
            }
        }
        h2{
            font-size: 2.5rem;
            margin-block-end: 7rem;
            font-family: $ffsec;
        }
        .bott{
            display: flex;
            justify-content: flex-end;
            gap: 3rem;
            button{
                border: none;
                display: inline-flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                font-weight: 600;
                opacity: .7;
                background: none;
                color: #fff;
                align-self: flex-start;
                ion-icon{
                    // font-size: 1.5rem;
                    transform: rotate(315deg);
                }
                &:hover{
                    color: $colorgreen;
                    transition: color .2s ease;
                }
                
            }
            #circle{
                align-self: flex-end;
                z-index: 99;
                width: 15rem;
                height: 15rem;
                border-radius: 50%;
                margin-inline-end: -4rem;
            }
        }
    }
    .middle{
        align-self: flex-end;
        // width: 30%;
        img{
            max-height: 60dvh;
            width: 30dvw;
            object-fit: cover;
        }
    }
    .right{
        width: 50vw;
        // border: 1px solid red;
        align-self: flex-end;
        p{
            width: 60%;
            font-weight: 600;
            font-size: .9rem;
            padding-block-end: 1.4rem;
            opacity: .7;
        }
        .buttons{
            padding-block-start: 1.4rem;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }
    }
}
.bttn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 2rem;
    button{
        padding: .8rem 1.8rem;
        border: none;
        background: rgb(1, 1, 34);
        border-radius: 15px;
        color: #fff;
        display: inline-flex;
        align-items: center;
        font-size: .8rem;
        font-weight: 600;
        span{
            color: $colorgreen;
        }
        &:hover{
            background: $colorgreen;
            transition: all .2s ease;
            color: $colorprimary;
            span{
                color: $colorprimary;
            }
        }
    }
}
.btn{
    padding: .5rem 1rem;
    border: none;
    background-color: rgb(1, 1, 34);
    border-radius: 5px;
    color: #fff;
    &:hover{
        background: $colorgreen;
        transition: all .2s ease;
        color: $colorprimary;
    }
}